<!DOCTYPE html>
<html lang="en">

<head>
  <% include shared/head %>
</head>

<body>
  <% include shared/navbar %>

  <header id="indexHeader" class="jumbotron header">
    <div class="container">
      <h1><%= title %></h1>
      <h4><%= subtitle %></h4>
    </div>
  </header>
  <section class="py-3">
    <div class="container">
      <h1>Products</h1>
      <div class="row">
          <% products.forEach(product => { %>
            <div class="col-md-4">
              <div class="card mb-3">
                <a href="/product/show/<%= product.id%>">
                  <img src="<%= product.image %>" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= product.name %>
                  </h5>
                  <p>
                    <span class="badge badge-primary">
                      <%= product.category%>
                    </span>
                  </p>
                  <p>$ <%= product.price%></p>
                  <% if (auth.isAdmin) { %>
                  <a href="/product/edit/<%= product.id%>" class="btn btn-warning btn-block"><b>Edit Product</b></a>
                  <% } %>
                </div>
              </div>
            </div>
          <%}); %>
      </div>
    </div>
  </section>
  <% include shared/scripts %>
</body>

</html>