<!DOCTYPE html>
<html lang="en">

<head>
    <% include shared/head %>
</head>

<body>
    <% include shared/navbar %>
    <header id="editHeader" class="jumbotron header">
        <div class="container">
            <h1>Edit product</h1>
        </div>
    </header>
    <section class="py-3">
        <form id="editProductForm" class="container">
            <div class="form-group">
                <label for="productName">商品名稱</label>
                <input value=<%= product.name %> type="text" id="productName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="productPrice">商品價格</label>
                <input value=<%= product.price %> type="number" id="productPrice" class="form-control" min="1"
                    max="20000" required>
            </div>
            <div class="form-group">
                <label for="productImage">商品圖片</label>
                <input value=<%= product.image %> type="text" id="productImage" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="productCategory">商品分類</label>
                <select id="productCategory" class="form-control">
                    <!-- 
                    <option value="食品">食品</option>
                    <option value="生活用品">生活用品</option>
                    <option value="文具">文具</option>
                    <option value="清潔用品">清潔用品</option>
                    <option value="其他">其他</option>
                    -->
                    <% const options = ['食品', '生活用品', '文具', '清潔用品', '其他']; %>
                    <% options.forEach(option => { %>
                    <% if (option === product.category){ %>
                    <option value="<%= option %>" select><%= option %></option>
                    <%  } else { %>
                    <option value="<%= option %>"><%= option %></option>
                    <%  } %>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="productCategory">商品描述</label>
                <textarea id="productDescription" rows="5" class="form-control"><%= product.description %></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> 更新商品</button>
                <button id="deleteProductBtn" type="button" class="btn btn-danger"><i class="fas fa-trash"></i>
                    刪除商品</button>
            </div>
        </form>
    </section>
    <% include shared/scripts %>
    <script>
        // 更新商品表單送出時
        $('#editProductForm').submit(function (event) {
            event.preventDefault();
            const pid = '<%= product.id %>';
            const product = {
                name: $('#productName').val(),
                price: parseInt($('#productPrice').val()),
                image: $('#productImage').val(),
                category: $('#productCategory').val(),
                description: $('#productDescription').val(),
                latestUpdate: new Date()
            }
            axios.put(`/api/product/${pid}`, product) // a 'promise'
                .then(function (res) {
                    alert('Update Complete');
                    window.location = '/'; // back to root page
                })
                .catch(function (err) {
                    console.log('[Edit Product Failed]', err);
                    alert('Update Failed, please try again');
                });
        });

        // 刪除商品按鈕按下時
        $('#deleteProductBtn').click(function (event) {
            const pid = '<%= product.id %>';
            axios.delete(`/api/product/${pid}`)
                .then(function (res) {
                    alert('Delete Complete');
                    window.location = '/'; // back to root page
                })
                .catch(function (err) {
                    console.log('[Delete Product Failed]', err);
                    alert('Delete Failed, please try again');
                });
        });
    </script>
</body>

</html>